@model HomeViewModel
@{
    ViewBag.Title = "Site Listing";
    ViewBag.Header = "Site Listing";
    ViewBag.SubHeader = "All sites";

}

<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">All Sites</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th>Primary URL</th>
                        <th style="width: 40px">Status</th>
                    </tr>
                    @for (int i = 0; i < Model.Websites.Count; i++)
                    {
                        var website = Model.Websites[i];
                        var badgeColor = string.Empty;
                        var disabled = false;

                        switch (website.Status)
                        {
                            case SiteManager.Core.Websites.Status.Started:
                                badgeColor = "bg-green";
                                break;
                            case SiteManager.Core.Websites.Status.Stopped:
                                badgeColor = "bg-red";
                                disabled = true;
                                break;
                            case SiteManager.Core.Websites.Status.Starting:
                            case SiteManager.Core.Websites.Status.Stopping:
                                badgeColor = "bg-yellow";
                                disabled = true;
                                break;
                        }

                        <tr class="@(disabled ? "text-muted" : string.Empty)">
                            <td>@(i + 1).</td>
                            <td>@website.Name</td>
                            <td>
                                @if (disabled)
                                {
                                    <a href="@website.PrimaryUrl" class="btn btn-default btn-flat disabled">@website.PrimaryUrl</a>
                                }
                                else
                                {
                                    <div class="btn-group">
                                        <a href="@website.PrimaryUrl" class="btn btn-default btn-flat" target="_blank">@website.PrimaryUrl</a>
                                        @if (website.OtherUrls.Count() > 0)
                                        {
                                            <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                @foreach (var url in website.OtherUrls)
                                                {
                                                    <li><a href="@url" target="_blank">@url</a></li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                }
                            </td>
                            <td><span class="badge @badgeColor">@website.Status.ToString()</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>
