@model HomeViewModel
@{
    ViewBag.Title = "Site Listing";
    ViewBag.Header = "Site Listing";
    ViewBag.SubHeader = "All sites";
}

@section HeadStyles
{
    <link href="~/Scripts/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <table id="siteList" class="table table-striped table-vertical-center">
                    <thead>
                        <tr>
                            <th style="width:6px"></th>
                            <th>Name</th>
                            <th>Primary URL</th>
                            <th style="width: 40px">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Websites.Count; i++)
                        {
                            var website = Model.Websites[i];
                            var badgeColor = string.Empty;
                            var disabled = false;
                            var startStopTarget = string.Empty;
                            var startStopIcon = string.Empty;

                            switch (website.Status)
                            {
                                case SiteManager.Core.Websites.Status.Started:
                                    badgeColor = "bg-green";
                                    startStopTarget = Url.Action("Stop", new { name = website.Name });
                                    startStopIcon = "stop";
                                    break;
                                case SiteManager.Core.Websites.Status.Stopped:
                                    badgeColor = "bg-red";
                                    disabled = true;
                                    startStopTarget = Url.Action("Start", new { name = website.Name });
                                    startStopIcon = "play";
                                    break;
                                case SiteManager.Core.Websites.Status.Starting:
                                case SiteManager.Core.Websites.Status.Stopping:
                                    badgeColor = "bg-yellow";
                                    disabled = true;
                                    break;
                            }

                            <tr class="@(disabled ? "text-muted" : string.Empty)">
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(startStopTarget))
                                    {
                                        <a href="@startStopTarget" class="btn btn-default btn-xs btn-flat"><i class="fa fa-fw fa-@startStopIcon"></i></a>
                                    }
                                </td>
                                <td>@website.Name</td>
                                <td>
                                    @{ var linkText = website.PrimaryUrl + (website.PrimaryUrl.StartsWith("https") ? @" <i class=""fa fa-lock"" aria-hidden=""true""></i>" : string.Empty); }
                                    <a href="@website.PrimaryUrl" class="@(disabled ? "disabled" : string.Empty)" target="_blank">
                                        @linkText
                                    </a>

                                    @if (website.OtherUrls.Count() > 0)
                                    {
                                        <div class="dropdown pull-right">
                                            <a href="#" class="btn btn-info btn-xs btn-flat" data-toggle="dropdown">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                @foreach (var url in website.OtherUrls)
                                                {
                                                    <li>
                                                        @{ var subLinkText = url + (url.StartsWith("https") ? @" <i class=""fa fa-lock"" aria-hidden=""true""></i>" : string.Empty); }
                                                        <a href="@url" target="_blank">@Html.Raw(subLinkText)</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td><span class="badge @badgeColor">@website.Status.ToString()</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script>
        $(function () {
            $('#siteList').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "order": [[1, 'asc']],
                "columns": [
                    { "orderable": false },
                    null,
                    { "orderable": false },
                    { "orderable": false }
                ]
            });
        });
    </script>
}